
/*navbar coding*/

.navbar-brand {font-size: 30px;
                font: strong;
                font-family: Arial, Helvetica, sans-serif;
                padding: 10px
}

.dropdown-menu {
    margin: 0;
}

/* image styling */

.img-thumbnail {border: none}



/* text styling */

p {font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

h3 {font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    padding-top: 30px;
    font-weight: bold

}

.subtitles {text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
}

h4 {font-family: Arial, Helvetica, sans-serif;
    padding-left: 20 px;
    text-align: left;
    font-size: 15px


}


/* background colours */

body {background-color: lightgrey;


}

.col-md-12 {background: white;
            padding: 10px}




@media(max-width:767px){
        .navbar.bg-dark{
            background-color: rgb(23, 68, 151)!important;    
        }
    
        .navbar-collapse{
            background-color: #070e14;
        }
        .navbar{
            padding:inherit;
        }
    }
    